.header {
    display: flex;
    width: 100%;
    background: #5A49E3;
    margin-bottom: 2vh;
}

.header-button {
    font-family: Arial, serif;
    background: #5A49E3;
    color: white;
    text-decoration: none;
    padding: 1vh 1vw;
}

.header-button:hover {
    background: #7158e2;
}

.contents {
    padding: 1% 5% 5% 5%;
}

.code-editor {
    height: 50vh;
}

.runtime-output {
    font-family: Arial, serif;
    width: 100%;
    margin-top: 1vh;
    height: 20vh;
    background: #34495e;
    color: white;
    overflow: auto;
}

.playground-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.green-button {
    font-family: Arial, serif;
    background: #4cd137;
    color: white;
    border: none;
    text-decoration: none;
    padding: 1vh 1vw;
}

.green-button:hover {
    background: #44bd32;
}

.red-button {
    font-family: Arial, serif;
    background: #e84118;
    color: white;
    border: none;
    text-decoration: none;
    padding: 1vh 1vw;
}

.red-button:hover {
    background: #c23616;
}