.header {
    display: flex;
    margin-bottom: 2vh;
}

.header-button {
    font-family: Arial, serif;
    background: #7d5fff;
    color: white;
    text-decoration: none;
    padding: 1vh 1vw;
}

.header-button:hover {
    background: #7158e2;
}

.contents {
    padding: 1% 5% 5% 5%;
}

.code-editor {
    height: 50vh;
}

.runtime-output {
    font-family: Arial, serif;
    width: 100%;
    margin-top: 1vh;
    height: 20vh;
    background: #34495e;
    color: white;
    overflow: auto;
}

.playground-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.green-button {
    font-family: Arial, serif;
    background: #4cd137;
    color: white;
    border: none;
    text-decoration: none;
    padding: 1vh 1vw;
}

.green-button:hover {
    background: #44bd32;
}

.red-button {
    font-family: Arial, serif;
    background: #e84118;
    color: white;
    border: none;
    text-decoration: none;
    padding: 1vh 1vw;
}

.red-button:hover {
    background: #c23616;
}

.documentation {
    display: flex;
    width: 100%;
}

.documentation-buttons {
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-right: 5%;
    width: 30%;
}

.documentation-buttons:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.documentation-buttons button {
    margin: 2vh auto;
    font-family: Arial, serif;
    font-size: large;
    width: 90%;
    border-radius: 2px;
    display: block;
    border: none;
}

.doc-article {
    width: 85%;
}

.pressed-button {
    color: white;
    background: #7158e2;
}

.unpressed-button {
    color: black;
    background: none;
}

.unpressed-button:hover {
    color: white;
    background: #7d5fff;
}