.navigation-bar {
    text-align: left;
    overflow: hidden;
    padding: 5vh;
}

.base-button {
    padding: 1vh 1vw;
    color: white;
    font-size: large;
    font-family: "Arial Black", serif;
    margin: 50% 2.5vw;
    text-decoration: none;
}

.plasma-title {
    color: #e74c3c;
    font-size: x-large;
    font-family: "Arial Black", serif;
}

.blue-button {
    background: #3498db;
    border: 0 solid #2980b9;
    border-radius: 3px;
    border-bottom-width: 3px;
    border-right-width: 2px;
}

.blue-button:hover {
    border-color: #3498db;
    background: #2980b9;
}

.green-button {
    background: #2ecc71;
    border: 0 solid #27ae60;
    border-radius: 3px;
    border-bottom-width: 3px;
    border-right-width: 2px;
}

.green-button:hover {
    border-color: #2ecc71;
    background: #27ae60;
}

.purple-button {
    background: #9b59b6;
    border: 0 solid #8e44ad;
    border-radius: 3px;
    border-bottom-width: 3px;
    border-right-width: 2px;
}

.purple-button:hover {
    border-color: #9b59b6;
    background: #8e44ad;
}

.body-div {
    padding: 5vh 5vw;
}