<link href="(( DOCUMENTATION_STYLE ))" rel="stylesheet">
<link href="(( PRISM_STYLE ))" rel="stylesheet">
<link href="(( MARKDOWN_STYLE ))" rel="stylesheet">
<div class="documentation-container">
    <div class="table-of-contents">
        <article class="markdown-body">
            (( TABLE_OF_CONTENTS ))
        </article>
    </div>
    <div class="documentation">
        <article class="markdown-body">
            (( DOCUMENTATION ))
        </article>
    </div>
</div>
<script src="(( PRISM_SCRIPT ))"></script>