<!DOCTYPE html>
<html lang="en">
<head>
    <link href="(( NAV_STYLE ))" rel="stylesheet">
    <link href="(( MARKDOWN_STYLE ))" rel="stylesheet">
    <link href="(( PRISM_STYLE ))" rel="stylesheet">
    <meta charset="UTF-8">
    <title>(( TITLE ))</title>
</head>
<body>

<div class="navigation-bar">
    <a class="base-button plasma-title">Plasma</a>
    <a class="base-button blue-button" href="/index.html">Home</a>
    <a class="base-button green-button" href="/playground.html">Playground</a>
    <a class="base-button purple-button" href="/documentation/docs.html">Documentation</a>
</div>

<div class="body-div">
    (( BODY ))
</div>
<script src="(( PRISM_JS ))"></script>
(( MORE ))
</body>

</html>