<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/static/vendoring/css/github-markdown.css" rel="stylesheet">
    <link href="/static/vendoring/css/prism-material-light.css" rel="stylesheet">
    <link href="/static/css/app.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
</head>
<body>

<div class="contents">
    <div class="header">
        <a class="base-button header-button" href="/">Home</a>
        <a class="base-button header-button" href="/playground">Playground</a>
        <a class="base-button header-button" href="/docs">Documentation</a>
    </div>
    {{ .Body }}
</div>
<script src="/static/vendoring/prism/prism.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.4.0/showdown.min.js"></script>
</body>
</html>