<!DOCTYPE html>
<html lang="en">
<head>
    <link href="(( NAV_STYLE ))" rel="stylesheet">

    <meta charset="UTF-8">
    <title>Plasma</title>
</head>
<body>

<div class="navigation-bar">
    <a class="base-button plasma-title">Plasma</a>
    <a class="base-button home-button" href="/index.html">Home</a>
    <a class="base-button playground-button" href="/playground.html">Playground</a>
    <a class="base-button documentation-button" href="/documentation/docs.html">Documentation</a>
</div>

<div class="body-div">
    (( BODY ))
</div>
</body>
</html>